language: python
python:
  - "3.5"
  - "3.6"
install:
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/travis_install.sh
before_script:
  # this is for running test coverage on travis
  - pip install numpy quantities
  - pip install pytest pyyaml coverage codecov pyrebase
  - python setup.py install
script:
  - mkdir -p ~/.config/expipe
  - echo $EXPIPE_CONFIG > ~/.config/expipe/config.yaml
  - cp ~/.config/expipe/config.yaml ~/.config/expipe/test-config.yaml
  # - coverage run --source expipe/io -m py.test -s --doctest-glob='*.rst'
  # - coverage report
  - source libs/travis-conda-scripts/scripts/config.sh
  - bash -ex libs/travis-conda-scripts/scripts/build.sh
# after_success:
  # - codecov
deploy:
  - provider: script
    skip_cleanup: true
    script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla main
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash -ex libs/travis-conda-scripts/scripts/upload.sh cinpla dev
    on:
      branch: dev
